.header {
  max-width: 880px;
  height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}

@media (max-width: 924px) {
  .header {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 450px) {
  .header {
    margin: 28px 0 38px;
    height: 56px;
    padding-left: 27px;
  }
}